#=====#
# GIT #
#=====#
.foreverignore
commit.txt
yarn.lock

#======#
# LOGS #
#======#
*.log
logs
npm-debug.log*

#===============#
# RUNTIME FILES #
#===============#
pids
*.pid
*.seed

#=============#
# TRASH FILES #
#=============#
.DS_Store
.idea/
.vscode/
*.sublime-*
dist/
heapdump-*
misc/
tmp/
typings/
uploads/

#=====#
# NPM #
#=====#
.node_repl_history
.npm
.npmrc
jspm_packages
node_modules
packages/**/package-lock.json

#===============#
# DOCUMENTATION #
#===============#
docs/
public/

#==================#
# COVERAGE REPORTS #
#==================#
.nyc_output/
coverage/
lib-cov/
mochawesome-report/
test-results.xml

#====================#
# COMPILED ARTIFACTS #
#====================#
.grunt
.lock-wscript
build/Release

#=========================#
# AMAZON ELASTICBEANSTALK #
#=========================#
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

#================#
# ILORM SPECIFIC #
#================#
providers/config.js
spec/config/local.js
